*/*.pth
*/**/*.pth
*/**/**/*.pth
*/**/**/**/*.pth
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/*.swp
*/**/*.swp
*/**/**/*.swp
*/**/**/**/*.swp
*/*.txt
*/**/*.txt
*/**/**/*.txt
*/**/**/**/*.txt

data/HDD
data/THUMOS

model_zoo/*

tools/*.json
tools/**/*.json
tools/**/**/*.json
tools/**/**/**/*.json

.idea
data
venv

runs
